<h1>Entrar</h1>

<div class="container">
  <div class="card card-body">
    <form action="/entrar" method="POST">
      
      <div>
        <label for="email">Email</label>
        <input name="email" type="email" id="email" placeholder="Insira seu e-mail">
      </div>

      <div>
        <label for="password">Senha</label>
        <input name="password" type="password" id="password" placeholder="*********">
      </div>

      <input type="submit" value="Entrar" class="btn btn-block btn-success" />
    </form>
  </div>
</div>