<h1>Entrar</h1>

<div class="container">
  <form action="/entrar" method="POST" class="card card-body">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" name="password" id="password" class="form-control" />
    </div>

    <input type="submit" value="Acessar" class="btn btn-block btn-success" />
  </form>
</div>