<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marcus Pereira Gamer Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
  <div class="container mb-5">
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Blog Marcus Pereira Gamer</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <% if authenticated? %>
            <li class="nav-item">
              <a class="nav-link" href="/postagem/nova">Nova Postagem</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/categoria/nova">Nova Categoria</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/sair">Sair</a>
            </li>
          <% end %>
          <% unless authenticated? %>
            <li class="nav-item">
              <a class="nav-link" href="/entrar">Entrar</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>